{% extends "base.html" %}
{% block content %}
    <ul class="bread">
        <li><a href="{% url 'weaver_index' %}">Home</a></li>
        <li class="off">Account Settings</li>
    </ul>
    <h1>Your Account ({{ request.user.username }})</h1>
    <form class="account" action="{% url 'edit_settings' %}" method="POST" name="profile" enctype="multipart/form-data">
        {% csrf_token %}
        {% if settings.avatar_max_size > 0 and  settings.avatar_max_dimensions > 0 %}
        <div>
            {% avatar request.user %}
        </div>
        {% endif %}
        {{ form.as_div }}
        <button type="submit">Save Settings</button>
        <a href="{% url 'weaver_index' %}">Cancel</a>
        <!--<a href="{#% url 'delete_account' %#}">Delete Account</a>-->
    </form>
{% endblock %}

