{% extends "base.html" %}
{% block content %}
    <h1 class="single">Create Account</h1>
    <form class="account" action="{% url 'register' %}" method="post" name="register">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit">Create Account</button>
        <a href="{% url 'weaver_index' %}">Cancel</a>
    </form>
{% endblock %}
