{% extends "base.html" %}
{% block content %}
    <section>
        <h1 class="single">Thanks!</h1>
        <p>Thank you for registering. Admin approval is required for all registrations. You will receive an email if your registration is approved. Please return <a href="{% url 'weaver_index' %}">home</a>.</p>
    </section>
{% endblock %}
