{% extends "base.html" %}
{% block title %}Send Private Message / {% endblock %}
{% block ogtitle %}Send Private Message{% endblock %}
{% block content %}
  <ul class="bread">
    <li><a href="{% url 'weaver_index' %}">Home</a></li>
    <li><a href="{% url 'view_inbox' %}">Inbox</a></li>
    <li class="off">Send Message</li>
  </ul>
  <h1>New Private Message</h1>
  {% if preview %}
    {% with preview=True created_by=request.user text=form.text.value|default_if_none:"" post_id=0 %}
      {% include 'threads/view_post.html' %}
    {% endwith %}
  {% endif %}
  <form method="post" name="post">
    {% csrf_token %}
    {{ form.as_div }}
    <button formaction="{% url 'send_message' sent_to.id %}?preview" type="submit" formnovalidate>Preview</button>
    <button formaction="{% url 'send_message' sent_to.id %}" type="submit">Send Message</button>
  </form>
{% endblock %}
