{% extends "base.html" %}
{% block title %}{{ message.title }} / {% endblock %}
{% block ogtitle %}Viewing Private Message{% endblock %}
{% block content %}
    <ul class="bread">
        <li><a href="{% url 'weaver_index' %}">Home</a></li>
        <li><a href="{% url 'view_inbox' %}">Inbox</a></li>
        <li class="off">{{ message.title }}</li>
    </ul>
    <h1>{{ message.title }}</h1>
    <article class="post">
      {% if message.created_by %}
        <a href="{% url 'view_profile' message.created_by_id %}">
            {% avatar message.created_by %}
            <h5 class="rankstyle-{{message.created_by.profile.rank_id}}">
                {{message.created_by.username}}<span> / {{ message.created_by.profile.rank.display_title }}</span>
            </h5>
        </a>
      {% else %}
        <a href="#">
            {% avatar None %}
            <h5>
              {% if message.system_message %}
                System
              {% else %}
                Nobody
              {% endif %}
            </h5>
        </a>
      {% endif %}
        <h6>
            {% fdate message.created_on %}
        </h6>
        <div class="message">
            <p>{% bbcode message.text message.id %}</p>
        </div>
        <div class="post-controls">
          {% if message.created_by %}
            {% if message.created_by == request.user %}
              <a href="{% url 'send_message' user_id=message.sent_to.id message_id=message.pk %}">Reply</a>
            {% else %}
              <a href="{% url 'send_message' user_id=message.created_by.id message_id=message.pk %}">Reply</a>
            {% endif %}
            {% endif %}
            <a href="{% url 'delete_message' message.pk %}">Delete</a>
        </div>
    </article>
{% endblock %}
