{% extends "base.html" %}
{% block title %}Viewing {{ profile.user.username }}'s Profile / {% endblock %}
{% block ogtitle %}Viewing {{profile.user.username}}'s Profile{% endblock %}
{% block section %}{% endblock %}
{% block content %}
  <ul class="bread">
    <li><a href="{% url 'weaver_index' %}">Home</a></li>
    <li><a href="{% url 'view_members' %}">Users</a></li>
    <li class="off">{{ profile.user.username }}</li>
  </ul>
  <h1>User Profile</h1>
  <article class="user">
    {% avatar profile.user %}
    <h5>
      {% get_plugins 'view_profile.username' %}
      {{ profile.user.username }}
    </h5>
    <h6>Joined {{ profile.user.date_joined }}</h6>
    <span>
      {% with threads=profile.user.threads.count posts=profile.user.posts.count %}
        <h4><a href="{% url 'view_search_results' %}?search=post_by%3A{{ profile.user_id }}">
            <bold>{{ posts }}</bold> Post{% if posts > 1%}s{% endif %}
        </a></h4>
        <h4><a href="{% url 'view_search_results' %}?search=threads_by%3A{{ profile.user_id }}">
            <bold>{{ threads }}</bold> Thread{% if threads > 1%}s{% endif %}
        </a></h4>
        <h4><bold>{{ profile.rank.display_title }}</bold> Rank</h4>
        <h4><a href="{% url 'send_message' user_id=profile.user_id %}"><div>🖂</div>Message</a></h4>
      {% endwith %}
    </span>
  </article>
{% endblock %}
