{% extends "base.html" %}
{% block title %}Member List / {% endblock %}
{% block ogtitle %}Member List{% endblock %}
{% block content %}
    <ul class="bread">
        <li><a href="{% url 'weaver_index' %}">Home</a></li>
        <li class="off">Users</li>
    </ul>
    <h1>Users</h1>
    {% for member in page_obj %}
        <a href="{% url 'view_profile' member.pk %}">
            <article class="users">
                <span>
                    <span>
                        {% avatar member %}
                        <h5>{{ member.username }}</h5>
                    </span>
                    <h6>
                        {% if member.profile.is_online %}
                            Online
                        {% else %}
                            Offline
                        {% endif %}
                    </h6>
                </span>
            </article>
        </a>
    {% endfor %}
{%  endblock %}
