{% extends "base.html" %}
{% block ogtitle %}Currently Online{% endblock %}
{% block content %}
    <ul class="bread">
        <li><a href="{% url 'weaver_index' %}">Home</a></li>
        <li class="off">Currently Online</li>
    </ul>
    <h1>Currently Online</h1>
    {% for online in request.currently_online %}
        <article class="online-detail">
            <a href="{% url 'view_profile' online.pk %}">
                {% avatar online %}
                <h5>
                    {{ online.username}}
                    <span> / {{ online.profile.rank.display_title }}</span>
                </h5>
            </a>
            <h6>
                {% pprint_view online.action %} <span>/ {% fdate online.time %}</span>
            </h6>
        </article>
    {% empty %}
        <article>
            No users online.
        </article>
    {% endfor %}
{%  endblock %}
