{% extends "base.html" %}
{% block title %}Message {{ type }} / {% endblock %}
{% block ogtitle %}Message {{ type }}{% endblock %}
{% block content %}
  <ul class="bread">
    <li><a href="{% url 'weaver_index' %}">Home</a></li>
    <li class="off">{{ type }} |
      {% if type == "Inbox" %}
        <a href="{% url 'view_outbox' %}">Outbox</a>
      {% else %}
        <a href="{% url 'view_inbox' %}">Inbox</a>
      {% endif %}
    </li>
  </ul>
  <h1>{{ type }}</h1>
  <div class="main-bar">
    {% include 'paginator.html' %}
  </div>
  {% for message in messages %}
    <article>
      <div class="col{% if message.receiver_state == 1 %} read-message{% endif %}">
        <a href="{% url 'view_message' message.id %}" class="forum-name">{% title_sub message.title %}</a>
        <p>{% fdate message.created_on %}</p>
      </div>
      <div class="col">
        {% if type == "Inbox" %}
          {% if message.created_by %}
            <p>From <a href="{% url 'view_profile' message.created_by_id %}" class="bold">{{ message.created_by.username }}</a></p>
          {% else %}
          {% if message.system_message %}<p>From System</p>{% else %}<p>From Nobody</p>{% endif %}
          {% endif %}
        {% else %}
          {% if message.sent_to %}
            <p>To <a href="{% url 'view_profile' message.sent_to_id %}" class="bold">{{ message.sent_to.username }}</a></p>
          {% else %}
            <p>To Nobody</p>
          {%endif%}
        {% endif %}
      </div>
    </article>
    {% empty %}
    <article>
      <div class="col">
        Your {{ type }} is empty.
      </div>
      <div class="col"></div>
    </article>
  {% endfor %}
{% endblock %}
