{% extends "base.html" %}
{% block title %}Editing Post / {% endblock %}
{% block ogtitle %}Editing Post{% endblock %}
{% block content %} 
    <ul class="bread">
        <li><a href="{% url 'weaver_index' %}">Home</a></li>
        {% for parent_forum in post.thread.forum.get_parents reversed %}
            <li><a href="{% url 'view_forum' parent_forum.id %}">{{ parent_forum.name }}</a></li>
        {% endfor %}
        <li><a href="{% url 'view_forum' post.thread.forum_id %}">{{ post.thread.forum.name }}</a></li>
        <li><a href="{% url 'view_thread' post.thread_id %}?page=last#last">{{ post.thread.title }}</a></li>
        <li class="off">Edit Post</li>
    </ul>
    <h1>Edit Post</h1>
    {% if preview %}
        {% with preview=True created_by=request.user text=form.text.value|default_if_none:"" post_id=0 %}
            {% include 'threads/view_post.html' %}
        {% endwith %}
    {% endif %}
    <form method="post" name="post">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit" formaction="{% url 'edit_post' post.pk %}?preview" formnovalidate>Preview</button>
        <button type="submit" formaction="{% url 'edit_post' post.pk %}">Update Post</button>
    </form>
{% endblock %}
