{% can_do thread.forum 'can_lock' as can_lock %}
{% can_do thread.forum 'can_delete_other' as can_delete %}
{% can_do thread.forum 'can_pin' as can_pin %}
{% can_do thread.forum 'can_pin' as can_bump %}
{% if can_lock %}
    {% if thread.state == 0 %}
        <a href="{% url 'action_modcp' 'lock' thread.pk %}">Lock</a>
    {% elif thread.state == 2 %}
        <a href="{% url 'action_modcp' 'lock' thread.pk %}">Unlock</a>
    {% endif %}
{% endif %}
{% if can_delete %}
    {% if thread.state == 0 %}
        <a href="{% url 'action_modcp' 'delete' thread.pk %}">Delete</a>
    {% elif thread.state == 1 %}
        <a href="{% url 'action_modcp' 'delete' thread.pk %}">Undelete</a>
    {% endif %}
{% endif %}
{% if can_pin %}
    {% if thread.pinned == False %}
        <a href="{% url 'action_modcp' 'pin' thread.pk %}">Pin</a>
    {% elif thread.pinned == True %}
        <a href="{% url 'action_modcp' 'pin' thread.pk %}">Unpin</a>
    {% endif %}
{% endif %}
{% if can_bump %}
    <a href="{% url 'action_modcp' 'bump' thread.pk %}">Bump</a>
{% endif %}
