<div class="postbar" txt="l">
    <noscript>
        This forum supports BBcode tags. <a href="https://weaverforum.com/thread/37">View Formatting Guide</a>.
    </noscript>
    <span>
        <tag hidden class="postbutton" pbstart="[b]" pbend="[/b]" title="Bold your text."><strong>B</strong></tag>
        <tag hidden class="postbutton" pbstart="[i]" pbend="[/i]" title="Italicize your text."><i>i</i></tag>
        <tag hidden class="postbutton" pbstart="[s]" pbend="[/s]" title="Strike through your text."><strike>s</strike></tag>
        <tag hidden class="postbutton" pbstart="[u]" pbend="[/u]" title="Underline your text."><u>u</u></tag>
        <tag hidden class="postbutton" pbstart="[img]" pbend="[/img]" title="Embed an image.">🖼&#xFE0E;</tag>
        <tag hidden class="postbutton" pbstart="[url]" pbend="[/url]" title="Link to a URL.">🔗&#xFE0E;</tag>
    </span>
    <span>
        <tag hidden class="postbutton" pbstart="[quote=]" pbend="[/quote]" title="Embed a quote in your post."><strong><sup>&#10080;</sup></strong></tag>
        <tag hidden class="postbutton" pbstart="[youtube=" pbend="]" title="Embed a YouTube video in your post.">🎞&#xFE0E;</tag>
        <tag hidden class="postbutton" pbstart="[code]" pbend="[/code]" title="Embed code in your post.">&lt;&gt;</tag>
        <tag hidden class="postbutton" pbstart="[size=12]" pbend="[/size]" title="Set text size.">H<sup>1</sup></tag>
        <tag hidden class="postbutton" pbstart="[color=#00000]" pbend="[/color]" title="Set text color.">&#127912;</tag>
        <tag hidden class="postbutton" pbstart="[spoiler=Hint]" pbend="[/spoiler]" title="Create a spoiler dialogue.">&#9608;</tag>
    </span>
</div>
