{% extends "base.html" %}
{% block title %}Posting Thread / {% endblock %}
{% block ogtitle %}Posting Thread{% endblock %}
{% block content %}	
    <ul class="bread">
        <li><a href="{% url 'weaver_index' %}">Home</a></li>
        {% for parent_forum in forum.get_parents reversed %}
            <li><a href="{% url 'view_forum' parent_forum.id %}">{{ parent_forum.name }}</a></li>
        {% endfor %}
        <li><a href="{% url 'view_forum' forum.pk %}">{{ forum.name }}</a></li>
        <li class="off">New Thread</li>
    </ul>
    <h1>New Thread</h1>
    {% if preview %}
        {% with preview=True created_by=request.user text=form.text.value|default_if_none:"" post_id=0 %}
            {% include 'threads/view_post.html' %}
        {% endwith %}
    {% endif %}
    <form method="post" name="post">
        {% csrf_token %}
        {{ form.as_div }}
        <button formaction="{% url 'post_thread' forum.pk %}?preview" type="submit" formnovalidate>Preview</button>
        <button formaction="{% url 'post_thread' forum.pk %}" type="submit">Create Thread</button>
    </form>
{% endblock %}
