{% extends "base.html" %}
{% block title %}Replying / {% endblock %}
{% block ogtitle %}Reply{% endblock %}
{% block content %}
    <ul class="bread">
        <li><a href="{% url 'weaver_index' %}">Home</a></li>
        {% for parent_forum in thread.forum.get_parents reversed %}
            <li><a href="{% url 'view_forum' parent_forum.id %}">{{ parent_forum.name }}</a></li>
        {% endfor %}
        <li><a href="{% url 'view_forum' thread.forum_id %}">{{ thread.forum.name }}</a></li>
        <li><a href="{% url 'view_thread' thread.pk%}?page=last#last">{{ thread.title }}</a></li>
        <li class="off">Replying</li>
    </ul>
    <h1>Full Reply</h1>
    {% if preview %}
        {% with preview=True created_by=request.user text=form.text.value|default_if_none:"" post_id=0 %}
            {% include 'threads/view_post.html' %}
        {% endwith %}
    {% endif %}
    <form method="post" name="post">
        {% csrf_token %}
        {{ form.as_div }}
        <button formaction="{% url 'reply_post' thread.pk %}?preview" type="submit">Preview</button>
        <button formaction="{% url 'view_thread' thread.pk %}" type="submit">Reply</button>
    </form>
{% endblock %}
