{% extends "base.html" %}
{% block title %}Reporting Post / {% endblock %}
{% block ogtitle %}Reporting Post{% endblock %}
{% block content %}  
    <h1 class="single">Report Post</h1>
    <form action="{% url 'report_post' post.pk %}" method="post" name="report">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit">Report Post</button>
    </form>
{% endblock %}
