{% extends "base.html" %}
{% block section %}post_section{% endblock %}
{% block title %}{% title_sub thread.title  True %} / {% endblock %}
{% block ogtitle %}{% title_sub  thread.title True %}{% endblock %}
{% block content %}
    <ul class="bread">
        <li><a href="{% url 'weaver_index' %}">Home</a></li>
        {% for parent_forum in thread.forum.get_parents reversed %}
            <li><a href="{% url 'view_forum' parent_forum.id %}">{{ parent_forum.name }}</a></li>
        {% endfor %}
        <li><a href="{% url 'view_forum' thread.forum_id %}">{{ thread.forum.name }}</a></li>
        <li class="off">{% title_sub thread.title %}</li>
    </ul>
    <span id="first"></span>
    <h1>{% title_sub thread.title %}</h1>
    <div class="main-bar">
        <a href="{% url 'reply_post' thread.pk %}">Full Reply</a>
        <span class="mod-thread">{% include 'threads/mod_controls.html' %}</span>
        {% include 'paginator.html' %}
    </div>
    {% for post in page_obj %}
        {% with created_by=post.created_by text=post.text post_id=post.id %}
            {% include "threads/view_post.html" %}
        {% endwith %}
    {% endfor %}
    <span id="last"></span>
    {% can_do thread.forum 'can_post' thread as can_post %}
    {% if can_post %}
        <div class="main-bar">
            <button formnovalidate formaction="{% url 'reply_post' thread.pk %}" type="submit" form="quick-post-form" class="plain-button">
                Full Reply
            </button>
            {% include 'paginator.html' %}
            </div>
        <form class="quick-post" method="post" name="post" id="quick-post-form">
            {% csrf_token %}
            {{ form }}
            <button formaction="{% url 'view_thread' thread.pk %}" type="submit" value="Submit">
                Quick Reply
            </button>
        </form>
    {% else %}
        <div class="main-bar">
            {% include 'paginator.html' %}
        </div>
    {% endif %}

{% endblock %}
