{% can_do thread.forum 'can_delete' post as can_delete %}
{% can_do thread.forum 'can_edit' post as can_edit %}
{% can_do thread.forum 'can_post' thread as can_post %}
<article class="post">
    <a href="{% url 'view_profile' created_by.pk %}">
        {% avatar created_by %}
        <h5 class="rankstyle-{{ created_by.profile.rank_id }}">
            {% get_plugins 'view_post.username' %}
            {{ created_by.username}}<span> / {{ created_by.profile.rank.display_title }}</span>
        </h5>
    </a>
    <h6>
        {% if preview %}
            Not posted yet
        {% else %}
            <a href="{% url 'view_thread' post.thread_id %}?page={{ page_obj.number }}#{{ post.id }}" id="{{post.id}}">
                {% if post.edited_by %}
                    {% fdate post.edited_on %}*
                {% else %}
                    {% fdate post.created_on %}
                {% endif %}
            </a>
        {% endif %}
    </h6>
    <div class="message">
        <p>{% bbcode text post.id %}</p>
        <span id="js-post-{{ post.id }}" class="hidden-post">{{ text }}</span>
    </div>
    <div class="post-controls">
        {% if preview %}
            <a disabled>⚠ Report</a>
            <a disabled>Quote</a>
        {% else %}
        {% if request.user.is_authenticated and post.state != 1%}
            <a href="{% url 'report_post' post.id %}">⚠ Report</a>
        {% endif %}
        {% if can_delete %}
            <a href="{% url 'delete_post' post.id %}">{% if post.state == 1 %}Undelete{% else %}Delete{% endif %}</a>
        {% endif %}
        {% if can_edit %}
            <a href="{% url 'edit_post' post.pk %}">Edit</a>
        {% endif %}
        {% if can_post and post.state != 1 %}
            <a href="{% url 'quote_post' post.thread_id post.pk %}" user="{{ created_by.username }}" postid="{{ post.id }}" class="js-quote-post">
                Quote
            </a>
        {% endif %}
    {% endif %}
    </div>
</article>
