input.perms-class, input.use-default {
    width:20px;
    height:20px;
    background: red;
    appearance: none;
    border-radius: 3px;
    border: 1px solid black;
    cursor: pointer;
}

input.use-default {
    background: #ddd;
}

input.perms-class::after, input.use-default::after {
    position: relative;
}

input.perms-class:checked::after, input.use-default:checked::after {
    content: "✓";
    font-size: 18px;
    position: relative;
    color: white;
    top: -6px;
    font-weight: 1000;
}

input.perms-class:checked, input.use-default:checked {
    background: green;
}

input.perms-class.unknown::after {
    content: "-";
    top: -30px;
    position: relative;
    font-size: 44px;
}

input.perms-class.unknown {
    top: unset;
    background: unset;
    border: none;
}


input.perms-class[readonly] {
    pointer-events: none;
    filter: grayscale(80%) brightness(60%);
}

td.field-use_default {
    border-right: 3px solid #444;
}

.inline-group .tabular tr.has_original td {
    text-align: center;
    position: relative;
    left: -10px;
}
