@import "weaver.css";

/* =========
 * VARIABLES
 * ========= */

:root {
    --bg: #1E1F21;
    --contrast-bg: #19191B;
    --inner-bg: #292B2D;
    --inner-contrast-bg: #19191B;
    --header: #292B2D;
    --no-avatar: #AAAAAA;
    --no-avatar-bg: #FFFEFE;
    --border: #19191B;
    --contrast-border: #19191B;
    --link: #FFFEFE;
    --link-hover: #0366D6;
    --text: #FFFEFE;
    --secondary-text: #999999;
    --error-text: #C75D62;
    color-scheme: dark;
}
