/* =======
 *  LIGHT
 * ======= */

/* =========
 * VARIABLES
 * ========= */

:root {
    --bg: #FBFBFB;
    --contrast-bg: #FFFFFF;
    --inner-bg: #FBFBFB;
    --inner-contrast-bg: #F4F4F4;
    --header: #EEEFEF;
    --no-avatar: #AAAAAA;
    --no-avatar-bg: #FFFFFF;
    --contrast-border: #DDDDDD;
    --link: #333233;
    --link-hover: #0366D6;
    --text: #000000;
    --secondary-text: #999999;
    --error-text: #C75D62;
    --rank-bg-scheme: light;
}

/* ======
 * RESETS
 * ====== */

* {
    font-family: sans-serif;
    box-sizing: border-box;
    background: none repeat scroll 0 0 transparent;
    border-collapse: collapse;
    border-spacing: 0;
    word-wrap: anywhere;
}

/* ======
 * LAYOUT
 * ====== */

html {
    color: var(--text);
    color-scheme: var(--rank-bg-scheme);
    list-style-type: none;
    border: none;
    font-size: 100%;
    font-weight: normal;
    line-height: normal;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

html,
body {
    background-color: var(--bg);
    width: 100%;
    height: 100%;
    margin: 0;
}

header {
    background-color: var(--header);
    width: 100%;
    position: fixed;
    z-index: 3;
}

header wrapper {
    max-width: 55rem;
    padding: 0 2rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header a.login { /* login only */
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
}

a.logo { /* "FORUMS" */
}

a.logo b { /* "WEAVER" */
    padding-right: .2rem;
}

a.logo:hover {
    opacity: .7;
    transition: opacity .3s;
}

.wrapper {
    max-width: 55rem;
    margin: auto;
    padding: 5.2rem 2rem 2rem 2rem;
}

.wrapper a {
    color: var(--link);
}

#announcement {
    text-align: center;
    margin-bottom: 1rem;
}

.single { /* headlinees w/out breadcrumbs */
    margin-top: 3.6rem;
    display: flex;
}

/* ===
 * NAV
 * === */

nav {
    display: inline-flex;
    flex-wrap: wrap;
    transition: height 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

nav a,
nav span {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

nav a:hover {
    color: var(--link-hover);
    transition: color .3s;
}

nav span:hover i {
    color: var(--link-hover);
    transition: color .3s;
}

nav i { /* down arrow */
    margin: 0 0 .3rem .4rem;
    padding: .15rem;
    display: inline-block;
    border: solid;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ======
 * SUBNAV
 * ====== */

menu {
    background-color: var(--header);
    max-height: 0;
    margin-left: -2rem;
    padding: 0 1.25rem 0 1rem;
    position: absolute;
    overflow: hidden;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    transition: max-height .3s ease-in-out;
}

nav span:hover menu, nav span menu:focus-within {
    max-height: max-content;
}

menu a, menu form {
    display: block;
    text-align: left;
}

menu form {
    margin: unset;
}

menu form button.logout {
    color: var(--link);
    padding: 1rem;
    text-align: left;
}

/* ===========
 * MOBILE ICON
 * =========== */

header input[type="checkbox"] {
    display: none;
}

header input[type="checkbox"] + label {
    padding: 1.5rem;
    top: 0;
    right: 0;
    cursor: pointer;
    user-select: none;
    z-index: 2;
}

header input[type="checkbox"] + label span {
    background-color: var(--link); /* hide middle bar */
    width: 1.1rem;
    height: .15rem; /* line thickness */
    position: relative;
    display: block;
}

header input[type="checkbox"] + label span:before {
    top: 4px;
}

header input[type="checkbox"] + label span:after {
    top: -4px;
}

header input[type="checkbox"] + label span:before,
header input[type="checkbox"] + label span:after {
    background-color: var(--link);
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    content: '';
}

header input[type="checkbox"] + label:hover span:before,
header input[type="checkbox"] + label:hover span:after,
header input[type="checkbox"] + label:hover span {
    background-color: var(--link-hover);
    transition: all .3s;
}

/* =============
 * MOBILE BUTTON
 * ============= */

header input[type="checkbox"]:hover {
    opacity: .5;
}

header input[type="checkbox"]:checked ~ nav {
    max-height: 100vh;
}

header input[type="checkbox"]:checked ~ label span {
    background-color: transparent;
}

header input[type="checkbox"]:checked ~ label span:before {
    transform: rotate(-45deg);
    top: 0;
}

header input[type="checkbox"]:checked ~ label span:after {
    transform: rotate(45deg);
    top: 0;
}

/* ====
 * FONT
 * ==== */

h1  {
    margin: 0 6rem 2rem 1rem; /* right spacing for pagination */
    font-size: 1.8rem;
    font-weight: 700;
}

h2 {
    margin: 1rem 0;
    font-size: 1.6rem;
}

h3 {
    margin: 1rem 0;
    font-size: 1.4rem;
}

h5 {
    margin: 1rem 0;
    font-size: 1rem;
}

h5 span {
    font-size: 1rem;
    opacity: .5;
}

h6 {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: normal;
    /* opacity: .5; */
}

p {
    width: 100%;
    margin: 0;
}

article > p {
    font-size: 1rem;
}

bold {
    font-weight: 700;
}

.bold {
    font-weight: 700 !important;
}

article > a + h6 {
    float: right;
}

mark {
    background-color: var(--header);
    margin: 0 -0.15rem;
    padding: .15rem .15rem;
    font-weight: 700;
}

/* =====
 * LINKS
 * ===== */

a,
a:link,
a:active,
a:visited {
    color: var(--link);
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
    position: relative;
    opacity: 1;
    transition: all .3s !important;
}

a:hover {
    transition: opacity .3s;
}

/* ===========
 * BREADCRUMBS
 * =========== */

.bread {
    margin: 0 1rem 2rem 1rem;
    padding: 0;
}

.bread li {
    display: inline-block;
    line-height: 2; /* click-friendly mobile */
}

.bread li::after {
    padding: 0 1rem;
    content: "/";
    opacity: .3;
}

.bread li:last-of-type::after {
    content: none;
}

.bread li,
.bread li a {
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.bread li a:hover {
    color: var(--link-hover);
}

.bread li.off,
.bread li.off:hover {
    opacity: .5;
}

/* =======
 * ARTICLE
 * ======= */

.bread ~ article:first-of-type {
    margin-top: 0;
}

article {
    border: 2px solid var(--header);
    background-color: var(--inner-bg);
    margin: 1rem 0 0 0;
    padding: 1rem 2rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

article > a { /* img & username */
    display: inline-flex;
    align-items: center;
    transition: all .3s !important;
}

article > a:hover > h5 > {
    filter: brightness(150%);
    transition: color .3s;
}

article .avatar {
    margin-right: 1rem;
}

article > div {
    display: block;
}

article > div.col:first-of-type {
  flex: 3;
}

article > div.col:last-of-type {
    align-self: center;
    flex: 2;
    text-align: right;
}

article > div.row {
    width: 100%;
}

article div.col a:hover {
    color: var(--link-hover);
}

/* ============
   PLACEHOLDERS
   ============ */

a.chosen-default span {
    color: var(--link);
    opacity: .5;
}

::placeholder {
    color: var(--link);
    opacity: .5;
}

::-webkit-input-placeholder {
    color: var(--link);
    opacity: .5;
}

::-moz-placeholder,
:-moz-placeholder {
    color: var(--link);
    opacity: .5;
}

::-ms-input-placeholder,
:-ms-input-placeholder {
    color: var(--link);
    opacity: .5;
}

/* =====
   FORMS
   ===== */

form {
    margin: 1rem 0 2rem 0;
}

form div {
    margin-top: 1.5rem;
    position: relative;
}

form div:first-of-type {
    margin-top: 0;
}

form div:last-of-type {
    margin-bottom: 3rem;
}

form img {
    margin: 2px 1rem 0 2rem;
}

form img + a:link,
form img + a:active,
form img + a:visited {
    text-align: center;
    text-decoration: underline;
    font-weight: 500;
    transition: .3s;
}

form img + a:hover {
    color: var(--link-hover);
}

form input,
form textarea {
    -webkit-appearance: none;
}

form div input,
form div select,
form textarea {
    border: 2px solid var(--header);
    width: 100%;
    height: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 1rem;
    border-radius: 0; /* mobile required */
    outline: none; /* remove blue outline on click */
}

form div input[type="file"] {
    text-align:center;
    padding: .5rem;
}

form input:required:valid + label,
form input:optional:valid:not(:placeholder-shown) + label,
form select:required:valid + label,
form select:optional:valid:not(:placeholder-shown) + label,
form textarea:required:valid + label,
form textarea:optional:valid:not(:placeholder-shown) + label {
    color: var(--secondary-text);
    background-color: var(--bg);
    margin-left: -.5rem;
    padding: .25rem .5rem 0 .5rem;
    opacity: 1;
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
}

form div.errorlist {
    color: var(--error-text);
    background-color: var(--bg);
    margin-right: -0.5rem;
    position: absolute;
    top: -1.5rem;
    right: .5rem;
    padding: .25rem .5rem 0 .5rem;
}

form div.errorlist.nonfield {
    margin-bottom: -2rem;
    position: relative;
}

form label {
    color: var(--secondary-text);
    position: absolute;
    top: -.45rem;
    left: 1rem;
    opacity: 0;
    z-index: 1;
    transition: .3s;
}

input[type="text"],
input[type="submit"],
input[type="password"],
button[type="submit"],
select,
textarea {
    transition: .3s;
}

select {
    margin: 0;
    text-align: left;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

select:focus {
    outline: none;
}

select:-moz-focusring {
    text-shadow: 0 0 0 var(--link);
    color: transparent;
}

textarea {
    width: 100%;
    min-width: 100%; /* disable horizontal scaling */
    max-width: 100%; /* disable horizontal scaling */
    min-height: 9rem;
    padding: 1rem;
    font-family: inherit;
}

button[type="submit"],
button[type="submit"] ~ a {
    width: 100%;
    margin-bottom: 1rem;
    padding: 14px 2rem;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    border: 2px solid;
    cursor: pointer;
    transition: color .3s;
}

button.plain-button {
    width: unset;
    margin-bottom: unset;
    padding: .75rem;
}

button[type="submit"] {
    background-color: var(--header);
    font-family: sans-serif;
    border-color: transparent;
}

button[type="submit"] ~ a {
    color: var(--link);
    border-color: var(--header);
    display: block;
}

button[type="submit"]:hover,
button[type="submit"] ~ a:hover {
    color: var(--link-hover);
    transition: color .3s;
}

/* ======
 * AVATAR
 * ====== */

.avatar {
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 50%;
    clip-path: circle(50% at 50% 50%);
}

.avatar.noimage {
    background-color: var(--no-avatar-bg);
}

.avatar.noimage:before {
    background-color: var(--no-avatar);
    height: 50%;
    width: 50%;
    content: "";
    display: block;
    border-radius: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, 30%);
}

.avatar.noimage:after {
    background-color: var(--no-avatar);
    height: 60%;
    width: 80%;
    content: "";
    display: block;
    border-radius: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, 20%);
}

/* ==========
 * MAIN FORUM
 * ========== */

.forum-name {
    font-size: 1.2rem;
    font-weight: 700;
}

/* =============================
 * CURRENTLY ONLINE (MAIN FORUM)
 * ============================= */

article.online, article.birthdays {
    background-color: var(--header);
    margin-top: 3rem;
    border-color: transparent;
}

/* =========================
 * CURRENTLY ONLINE (DETAIL)
 * ========================= */

article.online-detail {
    justify-content: space-between;
}

article.online-detail a:hover h5 {
    color: var(--link-hover);
    transition: color .3s;
}


article.online-detail a h5 span { /* rank */
    font-weight: normal;
}

article.online-detail h6 a { /* online.action */
    font-weight: bold;
    transition: all .3s;
}

article.online-detail h6 a:hover {
    color: var(--link-hover);
}

/* ==========
 * USERS LIST
 * ========== */

.bread ~ a:hover h5 { /* entire clickable rows */
    color: var(--link-hover);
    transition: color .3s;
}

article.users {
    display: block;
}

article.users > span { /* img, username, join date */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

article.users > span > span { /* img & username */
    max-width: 70%;
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

/* ============
 * USER PROFILE
 * ============ */

article.user {
    display: block;
}

article.user .avatar {
    margin: auto;
    display: block;
}

article.user h5 { /* username */
    text-align: center;
}

article.user h6 { /* join date */
    margin: 0;
    color: inherit;
    text-align: center;
    opacity: .5;
}

article.user > span:last-of-type { /* container - post, thread, rank */
    max-width: 30rem;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

article.user h4 {
    padding: 0 1rem;
    font-weight: normal;
    text-align: center;
    word-wrap: initial;
}

article.user h4:last-of-type bold { /* rank data */
    word-wrap: normal;
}

article.user bold { /* post, thread, rank data */
    color: var(--link);
    display: block;
    font-size: 1.4rem;
}

/* ================
 * ACCOUNT SETTINGS
 * ================ */

form.account div:first-of-type { /* img & update link */
    margin: 0 0 3rem 0;
    padding-top: 1rem;
    display: flex;
    align-items: center;
}

form.account div:first-of-type a { /* update link */
    margin: 1rem 0;
}

/* ======
 * SEARCH
 * ====== */

form.search {
    margin-bottom: 1rem;
}

form.search div {
    display: flex;
}

form.search div:last-of-type {
    margin-bottom: 0;
}

input[type="search"] {
    width: calc(100% - 81px);; /* scale down with button width */
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="search"]:hover {
    z-index: 1; /* border-right overlap reset's border */
}

form.search button[type="submit"] {
    background-color: var(--header);
    width: 5rem;
    height: 3rem;
    margin: 0 0 0 -2px; /* overlap adjacent borders */
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: transparent;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: .3s;
}

form.search button span {  /* right arrow */
    font-size: 1.5rem;
    line-height: 0; /* vertically center in safari */
    transition: color .3s;
}

form.search button:hover span {
    color: var(--link-hover);
}

/* ==============
 * SEARCH RESULTS
 * ============== */

article.search-results {
    display: block;
}

article.search-results h5 span { /* rank */
    font-weight: normal;
}

form.search + a:hover > article.search-results h4 { /* highlight post title */
    color: var(--link-hover);
    transition: color .3s;
}

form.search + a:hover > article.search-results h5 { /* don't highlight username */
    color: inherit;
}

/* =============
 * MESSAGE PAGES
 * ============= */

.single + p,
.single + p a {
    font-size: 1rem;
}

.single + p {
    padding: 0 1rem;
}

.single + p a {
    text-decoration: underline;
    font-weight: 500;
}

.single + p a:hover {
    opacity: .5;
}

/* ========
 * MAIN BAR
 * ======== */

.main-bar {
    background-color: var(--header);
    margin: 2rem 0 1rem 0;
    padding: 0 .75rem;
    display: flex;
    justify-content: space-between;
    line-height: 1;
    position: relative;
}

.main-bar:not(:first-of-type) { /* bottom bar */
    margin-top: 1rem;
}

.main-bar > a:first-of-type { /* Add item */
    padding: .75rem;
    font-weight: 500;
}

.main-bar a:hover {
    color: var(--link-hover);
    background-color: var(--header);
}

span.mod-thread { /* mod thread controls */
    color: var(--text);
    position: absolute;
    right: 0px;
    top: -30px;
}

span.mod-thread a {
    padding: .75rem;
    font-weight: 500;
}

.paginate {
    align-self: center;
}

.paginate a,
.paginate tag#current_page {
    padding: .75rem .5rem;
}

.paginate tag {
    font-weight: 500;
    transition: opacity .3s;
}

.paginate tag:hover {
    color: var(--link-hover);
}

.paginate tag#current_page {
    opacity: .5;
}

.paginate tag#current_page:hover {
    color: inherit;
    cursor: default;
}

.paginate a:hover > tag { /* text inside link */
    opacity: .5;
}

/* ========
 * VIEW POST
 * ======== */

article.post {
    border: 2px solid var(--header);
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

article.post:first-of-type {
    margin-top: 0;
}

article.post > a { /* img, username, rankcolor */
    margin-bottom: 2rem;
    transition: all .3s;
}

article.post > a:hover > h5 { /* name/rank */
    filter: brightness(150%);
    transition: color .3s;
}

article.post h6 a { /* post date link */
    opacity: .5;
    transition: all .3s;
}

article.post h6 a:hover {
    color: var(--link);
    opacity: 1;
    transition: all: .3s;
}

article.post p a { /* post links */
   color: var(--link-hover) !important;
}

article.post h6 a:hover { /* post links hover */
    opacity: 1;
}

/* =============
 * POST CONTROLS
 * ============= */

.post-controls {
    background-color: var(--header);
    margin-top: 2rem;
    padding: 0 .75rem;
    display: flex;
}

.post-controls a {
    padding: .75rem;
    line-height: 1;
    transition: all .3s;
}

.post-controls a:hover {
    color: var(--link-hover);
    transition: color .3s;
}

/* ===========
 * POST THREAD
 * =========== */

.hidden-post {
    display: none;
}

.postbar {
    background-color: var(--header);
    width: 100%;
    margin-bottom: -1.7rem; /* set atop textarea */
}

.postbar span {
    width: calc(50% - 3px);
    display: inline-flex;
    align-items: center;
}
.postbar tag {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    transition: .3s;
}

.postbar tag:hover {
    opacity: .5;
    cursor: pointer;
}

.postbar tag strong {
    display: flex;
}

.postbar tag strong sup {
    height: 1rem;
}

/* ==========
 * QUICK POST
 * ========== */

form.quick-post textarea {
    margin-bottom: 0;
}

form.quick-post button {
    padding: .75rem; /* smaller button */
}

/* =========
 * MODERATOR
 * ========= */

.mod-controls {
    background-color: var(--header);
    margin: 2rem 0 1rem 0;
    padding: 0 .75rem;
    display: flex;
}

.mod-controls a {
    padding: .75rem;
    line-height: 1;
    transition: all .3s;
}

.mod-controls a:hover {
    color: var(--link-hover);
}

.mod-controls a.active {
    font-weight: 500;
    opacity: 1;
}

a.mod-message tag { /* fully-clickable link */
    color: var(--link-hover);
    margin: 0 1rem;
    display: block;
    transition: all .3s;
}

a.mod-message tag:hover {
    color: var(--link);
    transition: color .3s;
}

article.report ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

article.report ul li {
    padding: .5rem 0;
}

article.report ul li a {
    color: var(--link-hover);
    opacity: 1;
    transition: all .3s;
}

article.report ul li a:hover {
    opacity: .5;
    transition: opacity .3s;
}

/* =============
 * REPORT REVIEW
 * ============= */

article.report-review:last-of-type {
    margin-bottom: 3rem;
}

article.report-review h6 {
    opacity: .5;
}

span.note {
    color: var(--error-text);
    margin-bottom: .5rem;
    display: block;
    font-weight: 500;
}

/* rendered judgement form (read-only) */
form select:disabled + label,
form input:disabled + label {
	background-color: var(--bg);
	margin-left: -.5rem;
	padding: .25rem .5rem 0 .5rem;
	opacity: 1;
	transform: translateY(-5px);
}

form select:disabled,
form input:disabled {
    cursor: default;
}

/* =============
 * MEDIA QUERIES
 * ============= */

@media screen and (max-width:500px) {
     article {
        display: block;
    }

    article > div.col:last-of-type {
        margin-top: 1rem;
        display: block;
        text-align: left;
    }

    article.online-detail {
        display: flex;
    }
}

@media screen and (min-width: 700px) {
    header input[type="checkbox"] + label {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    header {
        position: relative;
    }

    header wrapper {
        margin: 0;
        padding: 0;
        top: 0;
        right: 0;
        left: 0;
        overflow: hidden;
        height: 100%
    }

    .logo {
        padding-left: 1.5rem;
    }

    header a.login {
        padding: 1rem 1.5rem;
    }

    header input[type="checkbox"] {
        display: block;
        clip-path: circle(0);
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
    }

    header input[type="checkbox"]:checked ~ nav {
        height: 90vh;
        visibility: visible;
    }

    nav {
        background-color: var(--header);
        border-top: 1px solid var(--header);
        visibility: hidden;
        display: initial;
        width: 100%;
        height: 0;
        margin: 0;
        padding: 0 0 0 1rem;
        position: relative;
        z-index: 2;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;
    }

    nav span:hover menu, nav span menu:focus-within {
        max-height: unset;
    }

    nav::-webkit-scrollbar {
        display: none; /* chrome & safari */
    }

    nav a,
    nav span {
        width: 100%;
        display: block;
        font-size: 1.4rem;
        font-weight: 700;
        text-align: center;
    }

    nav span {
        color: var(--secondary-text);
        cursor: default;
        transition: 0.3s all;
    }

    nav i {
        border-color: var(--secondary-text);
        border-width: 0 2px 2px 0;
    }

    nav > a:first-of-type {
        margin-top: 2rem;
    }

    menu {
        width: 100%;
        max-height: initial;
        margin: 0;
        padding: 0 0 5rem 0; /* short screen scroll */
        position: relative;
    }

    menu a:first-of-type { /* admin link */
        padding-top: 2rem;
    }

    menu a:last-of-type {
        margin-bottom: 0;
    }

    .wrapper {
        padding: 2rem 1rem;
        position: absolute;
        top: 3.2rem; /* set just below header */
        right: 0;
        bottom: 0;
        left: 0;
    }

    .single {
        margin-top: 0;
    }

    article {
        padding: 1rem;
    }

    form img {
        margin: 0 1rem;
    }

    h1 {
        font-size: 1.4rem;
    }

    .main-bar,
    .mod-controls {
        padding: 0 .25rem;
    }
}

@media screen and (max-width: 450px) {
    article.user h4 {
        font-size: 1rem;
    }

    .postbar span {
        width: 100%; /* create 2 rows */
    }
}

@media (hover:none) {  /* disable touch hover */
    *:hover {
        opacity: 1 !important;
    }
}

/* ============
 * POST MESSAGE
 * ============ */

div.message {
    width: 100%;
    display: inline-block;
}

div.message a:hover,
div.message a:hover * {
    color: var(--link-hover);
    transition: color .3s;
}

div.message p a {
    color: var(--link-hover) !important;
    transition: all .3s;
    text-decoration: underline;
}

div.message p a:hover {
    color: var(--link) !important;
    transition: color .3s;
}

div.message ul {
    padding: 0 0 0 1rem;
}

div.message ul li {
    padding: .5rem 0;
}

div.message ul li a {
    color: var(--link-hover);
    text-decoration: underline;
}

div.message ul li a:hover {
    color: var(--link);
}

div.message img,
div.message iframe {
    max-width: 100%;
    margin: .5rem 0;
}

/* ======
 * BBCODE
 * ====== */

b {
    font-weight: 700;
}

table {
    width: 100%;
    margin: .5rem 0;
}

th {
    border-bottom: 2px solid var(--header);
    font-weight: 700;
    padding: .5rem 0;
}

tr {
    transition: all .3s ease-in-out;
}

td {
    padding: .5rem 0;
}

tr:hover {
    background-color: var(--header);
}

hr {
    border: 1px solid var(--header);
    margin: 2rem 0;
}

pre {
    margin: 0;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

code {
    background-color: var(--contrast-bg);
    border: 1px solid var(--contrast-border);
    margin: .5rem 0;
    padding: 1rem;
    display: inline-block;
    font-family: monospace;
    font-size: .9rem;
}

details {
    background-color: var(--contrast-bg);
    border: 1px solid var(--contrast-border);
    margin: .2rem 0;
    padding: 1rem;

}

blockquote {
    background-color: var(--inner-contrast-bg);
    margin: .5rem 0;
    padding: 1rem;
    border-left: 4px solid;
}

summary {
    cursor: pointer;
}

details[open] > summary {
    padding-bottom: 1rem;
}

.spoiler {
    color: var(--error-text);
}

.bb_anchor { /* account for fixed header */
    scroll-margin-top: 5rem;
}

@media (max-width: 700px) {
    .bb_anchor {
        scroll-margin-top: 2rem;
    }
}


.bb_tab {
    display: flex;
    flex-wrap: wrap;
}

.tabinput {
    position: absolute;
    opacity: 0;
}

.tablabel {
    color: var(--secondary-text);
    width: 100%;
    margin: 0 0 -1px;
    padding: .5rem 1rem;
    font-weight: 600;
    text-align: center;
    border: 1px solid transparent;
    transition: background 0.1s, color 0.1s;
}

.tablabel:hover {
    color: var(--link);
    transition: color .3s;
    cursor: pointer;
}

.tabinput:checked + .tablabel {
    color: var(--link);
    border: 1px solid var(--contrast-border);
    border-top: 2px solid var(--contrast-border);
    border-bottom: 1px solid var(--contrast-bg);
    z-index: 1;
}

@media (min-width: 600px) {
    .tablabel {
        width: auto;
    }
}

.tabpanel {
  border: 1px solid var(--contrast-border);
  display: none;
  width: 100%;
  padding: .5rem 1rem;
}

@media (min-width: 600px) {
    .tabpanel {
        order: 99;
    }
}

.tabinput:checked + .tablabel + .tabpanel {
    display: block;
}

.bb_toc {
    border: 1px solid var(--contrast-border);
    margin: 10px;
    padding: 10px 15px 10px;
    display: inline-block;
}

.bb_toc_link {
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
}

.spoilerlabel {
    color:  var(--error-text);
}

.bb_right {
    text-align: right;
}

.deleted, .read-message {
    opacity: 0.5;
}

.post-tag {
    border-radius: 10px;
    font-size: inherit;
    font-weight: inherit;
    padding: 0rem .5rem;
}
