<!DOCTYPE HTML>
{% load static %}
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}{{ settings.forum_name }}</title>
        <meta charset="UTF-8"/>
        {% if settings.forum_icon %}
            <link rel="shortcut icon" type="image/gif" href="{{ settings.forum_icon.url }}" />
        {% else %}
            <link rel="shortcut icon" type="image/gif" href="{% static 'favicon.gif' %}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=6"/>
        <meta name="description" content="{% if metadescription %}{{ metadescription }}{% else %}{{ settings.forum_name }}{% endif %}" />
        <meta property="og:title" content="{% block ogtitle %}{% endblock %}" />
        <meta property="og:description" content="{% if metadescription %}{{ metadescription }}{% else %}{{ settings.forum_name }}{% endif %}" />
        <meta property="og:url" content="{{ request.build_absolute_uri }}" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}/icon.gif" />
        <link id="stylesheet-preload" rel="preload" href="{% user_theme %}" as="style">
        <link id="stylesheet" rel="stylesheet" href="{% user_theme %}">
        <style nonce="{{ request.csp_nonce|safe }}">{{ generated_css|safe }}</style>
        <script defer src="{% static 'weaver.js' %}"></script>
        <script type="text/javascript" nonce="{{ request.csp_nonce|safe }}">{{ generated_js|safe }}</script>
    </head>
    <body>
        <header>
            <wrapper>
            <a href="{% url 'weaver_index' %}" class="logo">
                {{ settings.forum_banner|safe }}
            </a>
            {% if request.user.is_authenticated %}
                <input type="checkbox" id="mobile" aria-label="Settings Menu" />
                <label for="mobile"><span></span></label>
                <nav>
                    {% get_plugins 'header' %}
                    <a href="{% url 'view_members' %}">Users</a>
                    <a href="{% url 'view_search_results' %}">Search</a>
                    <a href="{% url 'view_profile' %}">Profile</a>
                    <span>Settings{{ unread }}<i></i>
                        <menu>
                            {% if user.is_staff %}
                                <a href="{% url 'admin:index' %}">Admin</a>
                            {% endif %}
                            {% if profile.is_mod %}
                                <a href="{% url 'view_modcp' %}">Moderator</a>
                            {% endif %}
                            <a href="{% url 'edit_settings' %}">Account</a>
                            <a href="{% url 'view_inbox' %}">Inbox{{ unread }}</a>
                            {% get_plugins 'header.settings' %}
                            <form method="post" action="{% url 'logout' %}">
                              {% csrf_token %}
                              <button type="submit" class="logout">Logout</button>
                            </form>
                        </menu>
                    </span>
                </nav>
            {% else %}
                <a class="login" href="{% url 'login' %}">Login</a>
            {% endif %}
            </wrapper>
        </header>
        <div class="wrapper">
            {% get_plugins 'base.pre_announcement' %}
            {% if settings.forum_announcement %}
                <article id="announcement">
                    <p>
                        {{ settings.forum_announcement|safe }}
                    </p>
                </article>
            {% endif %}
            {% get_plugins 'base.post_announcement' %}
            {% block content %}
            {% endblock %}
            {% get_plugins 'base.footer' %}
        </div>
    </body>
</html>
