{% block paginator %}
  <div class="paginate">
    {% if page_obj.has_previous %}
      <a href="?page=1">
        <tag>&laquo;</tag>
      </a>
    {% endif %}
    {% if not page_obj.paginator.num_pages == 1 %}
      {% for n in page_obj.paginator.page_range %}
        {% if page_obj.number == n %}
          <tag id="current_page">{{ n }}</tag>
        {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
          <a href="?page={{ n }}"><tag>{{ n }}</tag></a>
        {% endif %}
      {% endfor %}
    {% endif  %}
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.paginator.num_pages }}">
        <tag>&raquo;</tag>
      </a>
    {% endif %}
  </div>
{% endblock %}
