{% extends "base.html" %}
{% block ogtitle %}{{ settings.forum_name }}{% endblock %}
{% block content %}
    <ul class="bread">
        <li class="off">Home</li>
    </ul>
    <h1>Main Forum</h1>
    {% include 'paginator.html' %}
    {% for forum in forums %}
        {% include "forums/view_forum_item.html" with forum=forum %}
    {% endfor %}
    <article class="online">
        <div class="col">
            <a href="{% url 'view_online' %}" class="forum-name">Currently Online</a>
        </div>
        <div class="col">
          {% for user in request.currently_online %}
            <a href="{% url 'view_profile' user.pk %}" class="rankstyle-{{ user.profile.rank_id }} bold">{{ user.username }}</a>{% if not forloop.last %},{% endif %}
            {% empty %}
                No users online.
            {% endfor %}
        </div>
    </article>
    {% get_plugins 'view_forum_index.footer' %}
{% endblock %}
