{% extends "base.html" %}
{% block section %}post_section{% endblock %}
{% block title %}Viewing Report / {% endblock %}
{% block ogtitle %}Viewing Report{% endblock %}
{% block content %}
    <ul class="bread">
        <li><a href="{% url 'weaver_index' %}">Home</a></li>

        <li><a href="{% url 'view_modcp' %}">Moderator</a></li>
        <li class="off">Report #{{ report_id }}</li>
    </ul>
    <h1>Report #{{ report_id }}</h1>
    <article class="post report-review">
        <a href="{% url 'view_profile' report.post.created_by_id %}">
            {% avatar report.post.created_by %}
            <h5 class="rankstyle-{{report.post.created_by.profile.rank_id}}">
                {{report.post.created_by.username}}<span> / {{ report.post.created_by.profile.rank.display_title }}</span>
            </h5>
        </a>
        <h6>
            {% if report.post.edited_by %}
               {% fdate report.post.edited_on %}
            {% else %}
                {% fdate report.post.created_on %}
            {% endif %}
        </h6>
        <p>
            <span class="note">Reported Post...</span>
            {% bbcode report.post.text report.post_id %}
        </p>
    </article>
    <article class="post report-review">
        <a href="{% url 'view_profile' report.reported_by_id %}">
            {% avatar report.post.created_by %}
            <h5 class="rankstyle-{{report.reported_by.profile.rank_id}}">
                {{report.reported_by.username}}<span> / {{ report.reported_by.profile.rank.display_title }}</span>
            </h5>
        </a>
        <h6>{% fdate report.reported_on %}</h6>
        <p>
            <span class="note">Reason...</span>
            {{ report.report }}
        </p>
    </article>

    {% if report.state == "O" %}
        <form action="{% url 'view_report' report_id %}" method="post" name="view_report">
            {% csrf_token %}
            {{ form.as_div }}
            <button type="submit" value="Submit">Render Judgement</button>
        </form>
    {% else %}
        <form>
            {{ form.as_div }}
        </form>
    {% endif %}
{% endblock %}
