{% extends "base.html" %}
{% block title %}{{ forum.name }} / {% endblock %}
{% block ogtitle %}{{ forum.name }}{% endblock %}
{% block content %}
    <ul class="bread">
        <li><a href="{% url 'weaver_index' %}">Home</a></li>
        {% for parent_forum in forum.get_parents reversed %}
            <li><a href="{% url 'view_forum' parent_forum.id %}">{{ parent_forum.name }}</a></li>
        {% endfor %}
        <li class="off">{{ forum.name }}</li>
    </ul>
    <h1>{{ forum.name }}</h1>
    <div class="main-bar">
        <a href="{% url 'post_thread' forum.pk %}">New Thread</a>
        {% include 'paginator.html' %}
    </div>
    {% get_children forum as children %}
    {% for child in children %}
        {% include "forums/view_forum_item.html" with forum=child %}
    {% endfor %}
    {% for thread in threads %}
        <article>
            <div class="col">
                <a href="{% url 'view_thread' thread.id %}?page=last#last" class="forum-name">{% title_sub thread.long_title %}</a>
                <p>
                <a href="{% url 'view_thread' thread.id %}?page=1#first">Created {% fdate thread.created_on %}</a> by <a href="{% url 'view_profile' thread.created_by_id %}" class="bold">{{ thread.created_by.username }}</a></p>
            </div>
            <div class="col">
              <p>{{ thread.num_posts }} Post{{ thread.num_posts|pluralize }}</p>
                <p>
                    {% fdate thread.last_post_on %} by <a href="{% url 'view_profile' thread.last_post_by_id %}" class="bold">{{ thread.last_post_by.username }}</a>
            </div>
        </article>
    {% endfor %}
{% endblock %}
