{% extends "base.html" %}
{% block title %}Moderator Control Panel / {% endblock %}
{% block ogtitle %}Moderator Control Panel{% endblock %}
{% block content %}
    <ul class="bread">
        <li><a href="{% url 'weaver_index' %}">Home</a></li>
        <li class="off">Moderator</li>
    </ul>
    <h1>Moderator</h1>
    {% if message %}
        <a class="mod-message" href="{{link}}"><tag fs="l">{{message}}</tag></a>
    {% endif %}
    <div class="mod-controls">
        {% if not request.get_full_path == "/modcp/?all=true" %}
            <a href="{% url 'view_modcp' %}" class="active">Open Reports</a>
            <a href="{% url 'view_modcp' %}?all=true">All Reports</a>
        {% else %}
            <a href="{% url 'view_modcp' %}">Open Reports</a>
            <a href="{% url 'view_modcp' %}?all=true" class="active">All Reports</a>
        {% endif %}
        <a href="{% url 'action_modcp' 'modview' 0 %}">Toggle Moderator View</a>
        {% include 'paginator.html' %}
    </div>
    <article class="report">
            {% for report in reports %}
                <ul>
                    <li><strong>Report #{{ report.id }}</strong></li>
                    <li>
                        <strong>Status</strong>:
                        <a href="{% url 'view_report' report.id %}">
                            {% if report.state == "O" %}
                                Open
                            {% elif report.state == "D" %}
                                Dismissed
                            {% else %}
                                Closed
                            {% endif %}
                            </br>
                        </a>
                    </li>
                    <li>
                        {% if report.state == "O" %}
                            <strong>Report Date</strong>: {% fdate report.reported_on %} by {{ report.reported_by.username }}
                        {% else %}
                            <strong>Action Taken</strong>: {{ report.get_action_display }} -- "{{ report.action_reason }}"
                        {% endif %}
                    </li>
                    <li><strong>Report Reason</strong>: "{{ report.report }}"</li>
                    <li>
                        <strong>Thread</strong>: 
                        <a href="{% url 'view_thread' report.post.thread.id %}?page={{ report.post.get_page }}&post={{ report.post.id }}">{{ report.post.thread.title }}
                        </a>
                    </li>
                    <li><strong>Post Date</strong>: {% fdate report.post.created_on %} by {{ report.post.created_by.username }}</li>
                </ul>
                {% empty %}
                <ul>
                    <li><strong>None Available</strong></li>
                </ul>
            {% endfor %}
        </article>
{% endblock %}

