{% extends "base.html" %}
{% block ogtitle %}Search Results{% endblock %}
{% block content %}
    <ul class="bread">
        <li><a href="{% url 'weaver_index' %}">Home</a></li>
        <li class="off">Search</li>
    </ul>
    <h1>Search</h1>
    <form class="search" action="{% url 'view_search_results' %}" method="get" autocomplete="off" name="search">
        <div>
            <input name="search" type="search" placeholder="Search Posts" id="search-box" required value="{{ search_request|default_if_none:"" }}" />
            <label for="search-box">Search Posts</label>
            <button type="submit"><span>&#10145;</span></button>
        </div>
    </form>
    {% for post in page_obj %}
        <a href="{% url 'view_thread' post.thread.id %}?post={{ post.id }}#{{ post.id }}">
            <article class="search-results">
                <span>
                    <h6>Posted {% fdate post.created_on %} </h6>
                </span>
                <h4>{% title_sub post.thread.long_title %}</h4>
                <h5>{{ post.created_by.username }}<span> / {{ post.created_by.profile.rank.display_title }}</span>
                </h5>
                {% with text=post.text|truncatesearch:filtered_search_request %}
                    {{ text }}
                {% endwith %}
            </article>
        </a>
    {% empty %}
        {% if search_request %}
        <article><h5>
            {% if too_short %}
                Your search could not be completed because the search keywords were too short.
            {% else %}
                Sorry! Nothing came up. Please search for something else.
            {% endif %}
            </h5></article>
        {% endif %}
    {% endfor %}
{%  endblock %}
