<article>
    <div class="col">
        <a href="{% url 'view_forum' forum.id %}" class="forum-name">{{ forum.name }}</a>
        <p>{{ forum.description }}</p>
        {% get_children forum as children %}
        {% for child in children %}
            {% if forloop.first %}
                <span class="row">
                    <br/>
            {% endif %}
                    <a href="{% url 'view_forum' child.id %}" class="bold">{{ child.name }}</a>{% if forloop.revcounter0 > 0 %}, {%endif %}
            {% if forloop.last %}
                </span>
            {% endif %}
        {% endfor %}
    </div>
    <div class="col">
        {% get_last_thread forum as last_thread %}
        {% if last_thread %}
            <p>
            <a href="{% url 'view_thread' last_thread.id %}?page=last#last" class="bold">{% title_sub last_thread.title %}</a>
                <br/>
                {% fdate last_thread.last_post_on %} by <a href="{% url 'view_profile' last_thread.last_post_by_id %}" class="bold">{{ last_thread.last_post_by.username }}</a>
            </p>
        {% else %}
            <p>No Posts</p>
        {% endif %}
    </div>
</article>
