{% extends "base.html" %}
{% block content %}
    <section>
        <h1 class="single">Account Deleted</h1>
        <p>We're sad to see you go! Your account has been deleted. Feel free to register a new account on the <a href="{% url 'weaver_index' %}">home</a> page.</p>
    </section>
{% endblock %}
