{% extends "base.html" %}
{% block content %}
    <h1 class="single">Delete Account</h1>
    <form action="{#% url 'delete_account' %#}" method="post" name="delete_account">
        {% csrf_token %}
        <div>
            <input type="text" placeholder="Email" id="email" required/>
            <label for="email">Email</label>
        </div>
        <div>
            <input type="password" placeholder="Password" id="password" required/>
            <label for="password">Password</label>
        </div>
        <div>
            <input type="password" placeholder="Confirm Password" id="pw-confirm" required/>
            <label for="pw-confirm">Confirm Password</label>
        </div>
        <button type="submit">Delete Account</button>
        <a href="{% url 'weaver_index' %}">Cancel</a>
    </form>
{% endblock %}
