{% extends "base.html" %}
{% block content %}
    <h1 class="single">Welcome! Please log in.</h1>
    <form method="post" name="login">
        {% csrf_token %}
        <div>
            <input type="text" placeholder="Username" id="username" name="username" required/>
            <label for="username">Username</label>
        </div>
        <div>
            <input type="password" placeholder="Password" id="password" name="password" required/>
            <label for="password">Password</label>
        </div>
        <button type="submit">Login</button>
        <a href="{% url 'password_reset' %}">Forgot Password</a>
        <a href="{% url 'register' %}">Create Account</a>
    </form>
{% endblock %}
