{% extends "base.html" %}
{% block content %}
    <section>
        <h1 class="single">Sent!</h1>
        <p>We've emailed you instructions to set your password. If you don't receive an email, please check your spam folder.</p>
    </section>
{% endblock %}
