{% extends "base.html" %}
{% block content %}
    {% if validlink %}
        <h1 class="single">Change Password</h1>
        <form method="post" name="reset_confirm">
            {% csrf_token %}
            <div>
                <input type="password" placeholder="Password" id="password" required/>
                <label for="password">Password</label>
            </div>
            <div>
                <input type="password" placeholder="Confirm Password" id="pw-confirm" required/>
                <label for="pw-confirm">Confirm Password</label>
            </div>
            <button type="submit">Change Password</button>
        </form>
    {% else %}
        <section>
            <h1 class="single">Whoops!</h1>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a <a href="{% url 'password_reset' %}">password reset</a>.</p>
    </section>
    {% endif %}
{% endblock %}
