{% extends "base.html" %}
{% block content %}
    <h1 class="single">Forgot Password</h1>
    <form method="post" name="reset">
        {% csrf_token %}
        <div>
            <input type="email" placeholder="Email" maxlength="254" name="email" id="id_email" required="" />
            <label for="id_email">Email</label>
        </div>
        <button type="submit">Request Password Reset</button>
    </form>
{% endblock %}
