{% extends "base.html" %}
{% block content %}
    <section>
        <h1 class="single">Success!</h1>
        <p>Your password has been reset, and you may now log in. Please return <a href="{% url 'weaver_index' %}">home</a>.</p>
    </section>
{% endblock %}
